//Colour Variables
$white: #fff;
$black: #050505;
$black-1: #1D1D1D;

$bg: #FFFDF8;
$olive: #B7C4A7;
$sand: #E4DCCF;
$text-dark: #4A4A4A;
$choco: #A2826D;
$teal: #559a6b;
$brown-dark: #5e3b1e;

$footer-color: $brown-dark;
