@import "global/_variables.scss";

// hero video styles
.hero {
  position: relative;
  height: 33vh; // обмеження висоти
  min-height: 250px;
  overflow: hidden;

  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // центрування по середині блоку
    z-index: 1;
    text-align: center;
    color: $white;

    h1 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .btn-primary {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;


  .hero-panel {
    background: rgba(255, 255, 255, 0.4); // напівпрозорий білий
    backdrop-filter: blur(6px); // легкий блюр — глянець
    padding: 24px 32px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: inline-block;

    h1 {
      font-size: 24px;
      margin-bottom: 12px;
      color: $black;
    }

    .btn-primary {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}
